.main {
  text-align: center;
}
.text {
  color: #777;
}

.single {
  padding: 2px 16px;
  background: rgb(223, 223, 223);
  display: block;
  margin: 20px 10px;
  border-left: 8px solid #fff;
}
.single:hover {
  border-left: 8px solid #4979ff;
}
